.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding: 10px;
  min-height: 0;
  justify-content: flex-start;
}

.flex-item {
  border: 1px solid #c3ba6d;
  border-radius: 4px;
  flex: 1 1 200px;
  padding: 10px;
  min-height: 200pt;
  height: 100px;
  width: 100px;
  position: relative;
}

.flex-item img{
  max-width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}


.flex-item ul{
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
  padding: auto;
  position: absolute;
  bottom: 0;
  width: 92%
}

@media (max-width: 945px) {
  .flex-item {
    max-width: 275px;
  }
}
