.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75rem;
  padding: 10px;
  min-height: 0;
  justify-content: flex-start;
}

.flex-item {
  border: 1px solid #c3ba6d;
  border-radius: 4px;
  flex: 1 1 200px;
  padding: 10px;
  min-height: 200pt;
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.flex-item img{
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.flex-item ul{
  padding: 0;
  list-style: none;
  margin-bottom: 0;
  margin-top: 3rem;
}
