/* TODO: Add sitewide styles */
h1, h2, h3, h4, h5{
  font-weight: bold;
}

body , html {
  padding: 0;
  margin: 0;
}

main{
  height: fit-content;
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #fb3bf2, #6345fb,#032680);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; /* Ensures the root div is at least as tall as the viewport */
}

#root{
  flex: 1;
}

@media (main > 100%) {
  #root { height: fit-content;}
}
