#city-state{
  display: flex;
  justify-content: space-between;
}

.flex-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #c3ba6d;
  border-radius: 4px;
  padding: 10px;
  height: fit-content;
  position: relative;
  max-width: 23.2%;
  flex: 1 1 20%;
  max-height: 100%;
}

.flex-item img{
  max-width: 100%;
  height: 200px;
  min-width: 50%;
  min-height: 0;
  cursor: pointer;
  object-fit: cover;
  flex: 2;
}

.flex-item ul{
  padding: 0;
  list-style: none;
  padding: auto;
  width: 100%;
  display:flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 0;
  flex: 1;
}

.flex-item li {
  min-width: 0;
}
